/*
    GERAL ↴
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin:  0;
}

body {
    overflow-x: hidden;
    flex-wrap: wrap;
    font-size: 20px;
}

.container_text {
   width: 100vw;
   background-color: #fffffe;
   display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.text {
    text-align: center;
    padding: 40px;
}

.container_body {
    background-color:  rgba(0, 0, 0, 0.4);
    padding: 40px;
}

h1, h2 {
    color: #094067;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

p {
    color: #5f6c7b;
    max-width: 50vw;
    font-family: 'Open Sans', sans-serif;
}

button {
    background-color: #3da9fc;
    color: #fffffe;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
}

button a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

/*
    ÁREA DO MENU ↴
*/

.menu {
    display: flex;
    justify-content: flex-end;
    background-color: #094067da;
    position: fixed;
    width: 100vw;
    padding-right: 40px;
}

nav ul {
    max-width: 1250px;
    display: flex;
    margin: auto;
    justify-content: right;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
}

nav li {
    padding: 20px;
}

nav li:hover {
    border-bottom: 3px solid #90b4ce;
    color: #90b4ce;
    font-size: 20px;
}

nav ul a {
    text-decoration: none;
    color: #fffffe;
}

nav ul a:hover {
    color: #90b4ce;
}

.active {
    border-bottom: 3px solid #90b4ce;
}

.menu_mobile {
    display: none;
}

/*
    ÁREA DO BANNER ↴
*/

.default_dark.banner{
    background-image: url(https://luizfelipe9627.github.io/portifolio/images/banner.jpg);
    background-position: center;
    background-size: cover;
}

.banner {
    width: 100vw;
    height: 100vh;
}

.banner h1 {
    text-align: center;
    margin: auto;
    color: #90b4ce;
    font-size: 40px;
    padding-top: 50px;
    font-family: 'Syne Mono', monospace;
}

.banner p {
    text-align: center;
    margin: auto;
    color: #90b4ce;
    font-size: 25px;
    font-family: 'Syne Mono', monospace;
}

.photo {
    text-align: center;
    padding-top: 20px;
}

.photo img {
    border: 5px solid #094067;
    border-radius: 10px 40px;
    width: 300px;
    height: 300px;
}

.social_media {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.social_media img {
    width: 20px;
    height: 20px;
    margin-top: 8px;
}

.linkedin, .whatsapp, .github {
    text-align: center;
    width: 35px;
    height: 35px;
    background-color: #fffffe;
    border-radius: 50%;
}

.github {
    margin-left: 40px;
    margin-right: 40px;
}

/*
    ÁREA SOBRE MIM ↴
*/

.default_dark.about_me{
    background-image: url(https://luizfelipe9627.github.io/portifolio/images/aboutme.jpg);
    background-position: center;
    background-size: cover;
}

.container_about_me {
    justify-content: space-around;
    display: flex;
}

.container_education {
    padding: 20px;
    background-color: #fffffe;
    border-radius: 10px 40px;
    box-shadow: 10px -10px 3px rgba(255, 255, 255, 0.24);
}

.container {
    position: relative;
    padding: 20px;
    padding-bottom: 0;
}

.container_line {
    border-right: 2px solid #3da9fc;
    left: 10px;
    position: absolute;
    height: 80px;
    padding: 10px;
}

.container_items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container_item {
    margin-bottom: 8px;
}

.container_top {
    display: flex;
}

.container h2 {
    padding-bottom: 20px;
}

.container_circle {
    background-color: #3da9fc;
    border-radius: 50%;
    height: 23px;
    width: 23px;
}

.container_title {
    margin-left: 17px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.container_desc {
    margin-left: 40px;
    text-align: left;
    margin-bottom: 5px;
    color: #5f6c7b;
}

/*
    ÁREA HABILIDADES ↴
*/

.default_dark.skills{
    background-image: url(https://luizfelipe9627.github.io/portifolio/images/skills.webp);
    background-position: center;
    background-size: cover;
}

.container_skills {
    display: flex;
    justify-content: space-evenly;
}

.container_skills img {
    width: 80px;
    height: 80px;
}

.content_skills {
    width: 250px;
    padding: 20px;
    background-color: #fffffe;
    border-radius: 10px 40px;
    text-align: center;
    box-shadow: 10px -10px 3px rgba(255, 255, 255, 0.24);
}

.content_skills h3 {
    padding-bottom: 10px;
}

.content_skills p {
    padding-top: 10px;
}

/*
    ÁREA SERVIÇOS ↴
*/

.default_dark.services{
    background-image: url(https://luizfelipe9627.github.io/portifolio/images/services.jpg);
    background-position: center;
    background-size: cover;
}

.area_services {
    text-align: center;
}

.container_flex_services {
    display: flex;
    justify-content: space-around;
}

.section_services {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 400px;
    background-color: #fffffe;
    border-radius: 10px 40px;
    box-shadow: 10px -10px 3px rgba(255, 255, 255, 0.24);
}

.code img {
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
}

.code img:hover {
    width: 70px;
    height: 70px;
}

/*
    ÁREA PROJETOS ↴
*/

.default_dark.projects{
    background-image: url(https://luizfelipe9627.github.io/portifolio/images/projects.png);
    background-position: center;
    background-size: cover;
}

.section_projects {
    display: flex;
    justify-content: space-around;
}

.content_projects {
    text-align: center;
    max-width: 400px;
}

.content_projects h3 {
    font-size: 22px;
    padding-bottom: 30px;
}

.content_projects p {
    color: #fffffe;
}

.content_projects img{
    border-radius: 10px 40px;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 10px -10px 3px rgba(255, 255, 255, 0.24);
}

/*
    ÁREA CONTATO ↴
*/

.default_dark.contact{
    background-image: url(https://luizfelipe9627.github.io/portifolio/images/contatc.jpeg);
    background-position: center;
    background-size: cover;
}

.section_contact img {
    width: 40px;
    height: 40px;
}

.section_contact img:hover {
    width: 50px;
    height: 50px;
}

.section_contact {
    display: flex;
    justify-content: space-around;
    text-align: center
}

.content_contact {
    display: flex;
    flex-direction: row;
}

.area_local {
    background-color: #fffffe;
    padding: 20px;
    border-radius: 10px 40px;
    box-shadow: 10px -10px 3px rgba(255, 255, 255, 0.24);
}

.area_email {
    margin-left: 130px;
    background-color: #fffffe;
    padding: 20px;
    border-radius: 10px 40px;
    box-shadow: 10px -10px 3px rgba(255, 255, 255, 0.24);
}

textarea, input {
    font-family: Arial, Helvetica, sans-serif;
    width: 330px;
    height: 35px;
    border-bottom: 2px solid #000;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

::placeholder {
    color: #fffffe;
}

.input {
    padding-top: 40px;
    text-align: center;
}

.name_user {
    text-transform: capitalize;
}

.subject {
    padding-top: 40px;
    padding-bottom: 20px;
}

.subject input {
    width: 450px;
}

.message textarea {
    width: 330px;
    height: 70px;
    margin-top: 10px;
}

.send {
    padding-top: 20px;
}

/*
    ÁREA FOOTER↴
*/

footer {
    background-color: #094067;
    color: #fffffe;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}

.footer_created {
    padding-top: 10px;
}

.footer_created a {
    text-decoration: none;
    color: #90b4ce;
}


@media (min-width: 320px) and (max-width: 425px) {
    
    .menu {
        height: 75px;
    }

    .menu_mobile {
        display: block;
        width: 55px;
    }
    
    nav {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0 , 0.9);
        width: 50vw;
        height: calc(100vh - 70px);
        top: 8vh;
        right: 0;
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav li a {
        font-weight: bold;
        font-size: 20px;
        border: none;
    }

    .menu li.active a {
        border: none;
    }

    .container_body.banner {
        padding: 0;
        padding-top: 80px;
    }

    .banner h1 {
        font-size: 35px;
    }

    .banner p {
        font-size: 30px;
    }

    .photo img {
        margin-top: 50px;
    }
    
    .social_media {
        padding-top: 70px;
    }



    p {
        max-width: 80vw;
    }

    .container_about_me {
        flex-direction: column;
    }

    .container_body.education {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .container_education {
        margin-bottom: 30px
    }


    .container_body.skills {
        padding-bottom: 10px
    }
    
    .container_skills {
    justify-content: space-around;
    flex-wrap: wrap;
    
    }


    .content_skills {
        margin-bottom: 30px;
    }


    .container_body.services {
        padding-bottom: 20px;
    }
    
    .container_services {
        padding-bottom: 40px;
    }   

    .container_flex_services {
        flex-direction: column;
        justify-content: space-around;
    }

    .section_services {
        width: auto;
    }

    .container_body.projects {
        padding-top: 0;
    }

    .section_projects {
        flex-direction: column;
    }

    .content_projects {
        text-align: center;
        margin-top: 40px;
    }

    .content_projects img {
        width: 300px;
        height: 170px;
    }


    .content_contact {
        flex-direction: column;
        align-items: center;
    }

    .area_local, .area_email {
        width: 300px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .input {
        padding-top: 0;
    }

    .subject {
        padding-top: 30px;
    }

    .subject input {
        
        width: 300px
    }

    input {
        width: 300px;
    }

    .name_user {
        margin-bottom: 30px;
    } 

    .message textarea {
        width: 300px;
    }
}








    
        

