/*
    GERAL ↴
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin:  0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    flex-wrap: wrap;
    font-size: 18px;
    
}

main {
    background-color: #000;
}

.container_text {
   width: 100vw;
   background-color: #fffffe;
   display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.text {
    text-align: center;
    padding: 40px;
}

.container_body {
    background-color:  rgba(0, 0, 0, 0.6);
    padding: 40px;
}

h1, h2 {
    color: #094067;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
}

p {
    color: #5f6c7b;
    max-width: 50vw;
}

button {
    background-color: #3da9fc;
    color: #fffffe;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
}

button a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

/*
    ÁREA DO MENU ↴
*/

nav {
    background-color: #094067ad;
    position: fixed;
    width: 100vw;
}

nav ul {
    max-width: 1250px;
    display: flex;
    margin: auto;
    justify-content: right;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

nav li {
    padding: 20px;
}

nav li:hover {
    border-bottom: 3px solid #FFF;
    font-size: 20px;
}

nav ul a {
    text-decoration: none;
    color: #FFF;
}

.active {
    border-bottom: 3px solid #FFF;
}

/*
    ÁREA DO BANNER ↴
*/

.default_dark.banner{
    background-image: url(/images/aboutme.jpg);
    background-position: center;
    background-size: cover;
}

.banner {
    width: 100vw;
    height: 100vh;
}

.banner h1 {
    text-align: center;
    margin: auto;
    color: #094067;
    font-size: 40px;
    padding-top: 70px;
}

.banner p {
    text-align: center;
    margin: auto;
    color: #094067;
    font-size: 35px;
}

.photo {
    text-align: center;
    padding-top: 20px;
}

.photo img {
    border: 5px solid #094067;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.social_media {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.social_media img {
    width: 20px;
    height: 20px;
    margin-top: 8px;
}

.linkedin, .whatsapp, .github {
    text-align: center;
    width: 35px;
    height: 35px;
    background-color: #3da9fc;
    border-radius: 50%;
}

.github {
    margin-left: 40px;
    margin-right: 40px;
}

/*
    ÁREA SOBRE MIM ↴
*/

.default_dark.about_me{
    background-image: url(/images/aboutme.jpg);
    background-position: center;
    background-size: cover;
}

.container_about_me {
    justify-content: space-around;
    display: flex;
}

.container_education {
    width: 360px;
    height: 370px;
    background-color: #fffffe;
    border-radius: 20px;
    box-shadow: 10px -10px 3px #fffffe28;
}

.container {
    position: relative;
    padding: 20px;
    padding-bottom: 0;
}

.container_line {
    border-right: 2px solid #3da9fc;
    left: 10px;
    position: absolute;
    height: 80px;
    padding: 10px;
}

.container_items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container_item {
    margin-bottom: 8px;
}

.container_top {
    display: flex;
}

.container h2 {
    padding-bottom: 20px;
}

.container_circle {
    background-color: #3da9fc;
    border-radius: 50%;
    height: 23px;
    width: 23px;
}

.container_title {
    margin-left: 17px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.container_desc {
    margin-left: 40px;
    text-align: left;
    margin-bottom: 5px;
    color: #5f6c7b;
}

/*
    ÁREA HABILIDADES ↴
*/

.default_dark.skills{
    background-image: url(/images/skills.jpg);
    background-position: center;
    background-size: cover;
}

.container_skills {
    display: flex;
    justify-content: space-evenly;
}

.container_skills img {
    width: 120px;
    height: 120px;
    padding: 20px;
}

.content_skills {
    width: 120px;
    height: 145px;
    background-color: #fffffe;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px -10px 3px rgba(255, 255, 255, 0.24);
}

.content_skills h3 {
    margin-top: -15px;
}

/*
    ÁREA SERVIÇOS ↴
*/

.default_dark.services{
    background-image: url(/images/services.jpg);
    background-position: center;
    background-size: cover;
}

.area_services {
    text-align: center;
}

.container_flex_services {
    display: flex;
    justify-content: space-around;
}

.section_services {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 400px;
    height: 190px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 10px -10px 3px rgba(255, 255, 255, 0.24);
}

.code img {
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
}

/*
    ÁREA PROJETOS ↴
*/

.default_dark.projects{
    background-image: url(/images/projects.jpg);
    background-position: center;
    background-size: cover;
}

.section_projects {
    display: flex;
    justify-content: space-around;
}

.content_projects {
    text-align: center;
    max-width: 400px;
}

.content_projects h3 {
    font-size: 22px;
    padding-bottom: 30px;
}

.content_projects img{
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 10px -10px 3px rgba(255, 255, 255, 0.24);
}

/*
    ÁREA CONTATO ↴
*/

.default_dark.contact{
    background-image: url(/images/contatc.jpeg);
    background-position: center;
    background-size: cover;
}

.section_contact img {
    width: 40px;
    height: 40px;
}

.section_contact {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.content_contact {
    display: flex;
    flex-direction: row;
}

.area_local {
    padding-left: 20px;
}

.area_email {
    padding-left: 130px;
}

textarea, input {
    font-family: Arial, Helvetica, sans-serif;
    width: 330px;
    height: 35px;
    border-bottom: 2px solid #000;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

::placeholder {
    color: #5f6c7b;
    font-weight: bold;
}

.input {
    padding-top: 40px;
    text-align: center;
}

.name_user {
    text-transform: capitalize;
}

.subject {
    padding-top: 40px;
    padding-bottom: 20px;
}

.subject input {
    width: 450px;
}

.message textarea {
    width: 330px;
    height: 70px;
    margin-top: 10px;
}

.send {
    padding-top: 20px;
}

/*
    ÁREA FOOTER↴
*/

footer {
    background-color: #094067;
    color: #FFF;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}

.footer_created {
    padding-top: 10px;
}

